body {
    padding-top: 70px; /* Adjusted for fixed navbar */
}

footer {
    background-color: #7c7c7c; /* Dark purple footer background color */
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h1 { 
    padding-left: 5%;
}

#tooltip {
    position: absolute; display: none; background-color: white; border: 1px solid black; padding: 5px;
}

#chart1 svg {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: 80vh; /* Altura basada en el viewport height, ajustable según tus necesidades */
}

#chart5 {
    margin-bottom: 100px;
}


.chart-container {
    background-color: #d2d2d234; /* Gris claro con baja opacidad */
    border-radius: 15px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno para no tocar los bordes */
    margin-bottom: 50px; /* Margen entre contenedores */
}